.information {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 80px 115px;
    gap: 215px;
    background-color: #E5E5E5;
    position: absolute;
    width: 1400px;
    height: 662px;
    top: 80px;
}

.officeLogo {
    width: 505px;
    height: 502px;
}
.h1 {
    width: 450px;
    height: 198px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 66px;
    color: #231F20;
}

.p1 {
    width: 404px;
    height: 54px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #676A71;
}

.p2 {
    width: 277px;
    height: 54px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;

    color: #676A71;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 40px;

    width: 450px;
    height: 442px;
}
.research {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;

    width: 450px;
    height: 56px;
}